<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link
      rel="shortcut icon"
      href="../static/favicon.png"
      type="image/x-icon"
    />
    <title>TextGuardian</title>
</head>
<body>
    <div id="main">
        <div class="nav">
          <div class="nav-container">
              <div class="logo">
                <a href="/" class="lg-logo">TextGuardian</a>
                <a href="/" class="sm-logo">TG</a>
              </div>
              <div class="menu">
                <a href="/">Home</a>
                <a href="/detect">DETECT</a>
                <a href="/about">ABOUT</a>
                <a href="https://github.com/Asrar-Ahammad/TextGuardian">
                  <i class="ri-github-fill"></i>
                </a>
              </div>
              <div class="menu-res">
                <a href="/">Home</a>
                <a href="/detect">DETECT</a>
                <a href="/about">ABOUT</a>
                <a href="https://github.com/Asrar-Ahammad/TextGuardian">
                  <i class="ri-github-fill"></i>
                </a>
              </div>
              <div class="menu-icon">
                <i class="ri-menu-line"></i>
              </div>
            </div>
          </div>
        
        <div id="home-section">
            <div class="heading hero-heading">
              <h1>The future is AI-powered. Know what you're writing with our cutting-edge technology.</h1>
              
              <a href="/detect" class="detect-btn">Detect</a>
            </div>
            <div class="hero">
              <img src="../static/heroimg.webp" alt="">
            </div>
        </div>
        <div class="about-section">
          <div class="heading">
            <h1>Meet the team</h1>
          </div>
          <div class="team-details">
            <div class="team-card">
              <div class="team-image">
                <img src="../static/asrar.jpeg" alt="">
              </div>
              <div class="team-details">
                <h3 class="name">Asrar Ahammad</h3>
                <h4 class="role">Frontend / Worked on English model</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo commodi corporis repellat totam incidunt. Architecto, cum voluptate iure aspernatur iste est eveniet. Dolorem, quis laudantium?</p>
              </div>
            </div>
            <div class="team-card">
              <div class="team-image">
                <img src="../static/siddiq.jpg" alt="">
              </div>
              <div class="team-details">
                <h3 class="name">Mohammad Siddiq</h3>
                <h4 class="role">Backend / Worked on Hindi model</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo commodi corporis repellat totam incidunt. Architecto, cum voluptate iure aspernatur iste est eveniet. Dolorem, quis laudantium?</p>
              </div>
            </div>
          </div>
        </div>
        <div id="footer">
            <div class="footer-logo">
              <h3>TextGuardian</h3>
            </div>
            <div class="footer-menu">
              <a href="/">Home</a>
              <a href="./detect">DETECT</a>
              <a href="">ABOUT</a>
              <a href="https://github.com/Asrar-Ahammad/TextGuardian">GTIHUB</a>
            </div>
          </div>
    </div>
  </div>
</body>
<script src="../static/script.js"></script>
</html>